*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: audiowide;
}

body{
    background-color: #c5e4e7;
}

.container {
    width: 80%;
    height: 100vh;
    background-color: #c5e4e7;
    display: flex;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxCalc {
    width: 1100px;
    height: 500px;
    background: #fff;
    border-radius: 30px;
    box-shadow:  5px 5px 20px #6d6d6d57;
    display: flex;
    justify-content: space-between;
}

.leftArea {
    width: 90%;
    background-color: #fff;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.bill,
.tipInfo {
    padding: 10px 20px;
    color: #506d6d;
    font-size: 18px;
}

.bill input {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    background-color: #f3f8fb;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.bill input:focus {
    outline: none !important;
    border:3px solid #479c90;
} 

.bill input::placeholder {
    font-size: 20px;
    color: #9fbebe;
    text-align: right;
    padding: 10px;
}

.areaSelectTip {
    display: flex;
    flex-direction: column;
    
}

.areaButtons {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
}


.tipButton5,
.tipButton10,
.tipButton15,
.tipButton20,
.tipButton50 {
    margin: 15px;
    width: 130px;
    height: 45px;
    background-color: #01464b;
    color: white;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}

.tipButton:hover{
    background-color: #9fe8dd;
    color: #003a3b;
}

.active input{
    font-size: 16px;
    margin: 15px;
    border-radius: 8px;
    text-align: center;
    width: 130px;
    height: 45px;
    background-color: #f3f8fb;
    border: 3px solid #9fe8df;
    color: #2a656d;
}

.rightArea {
    width: 80%;
    background-color: #00474b;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tipAmountArea {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tipAmountArea .reset {
    margin: 2px;
}

.tipAmountTitle{
    color: #fff;
    font-size: 18px;
}

.tipAmountTitle p {
    font-size: 14px;
    color: #599296;
}

.valueTip1,
.valueTip2,
.valueTip3 {
    font-size: 40px;
    color: #21ccb1;
}

.reset {
    background-color: #0d686d;
    color: #065e65;
    font-size: 18px;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    transition: 2s;
    cursor: pointer;
}

.reset:hover {
    background-color: #26c2ad;
    color: #00474b;
}



@media (max-width: 900px) {
    
    

    .boxCalc{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        margin-top: 300px;
    }
    
    .rightArea{
        display: flex;
        margin: auto;
        width: 100%;
    }
    
    .areaButtons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}